@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #0d0d0d;
  min-width: 350px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8596ad transparent;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #8596ad;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #8596ad;
}
