version: "3.8"

services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    ports:
      - "8545:8545"
    command: anvil
    environment:
      ANVIL_IP_ADDR: 0.0.0.0

  deploy:
    image: ghcr.io/foundry-rs/foundry:latest
    working_dir: /app
    command:
      - |
        forge script script/Deploy.s.sol --broadcast --json --rpc-url http://anvil:8545
        forge script script/PreparePlayground.s.sol --tc PreparePlayground --broadcast --json --rpc-url http://anvil:8545
        echo "Deployed contract addresses"
        apk add jq --quiet
        jq '[.transactions[] | select(.transactionType == "CREATE")] | map({contractName, contractAddress})' /app/broadcast/Deploy.s.sol/31337/run-latest.json
    volumes:
      - ./script:/app/script
      - ./src:/app/src
      - ./lib:/app/lib
      - ./foundry.toml:/app/foundry.toml
    environment:
      PRIVATE_KEY: 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
    depends_on:
      - anvil

