version: "3.8"

services:
  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    ports:
      - "8545:8545"
    command: anvil
    environment:
      ANVIL_IP_ADDR: 0.0.0.0

  deploy:
    image: testnet
    environment:
      PRIVATE_KEY: 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      RPC_URL: http://anvil:8545
    depends_on:
      - anvil

